
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght,YTLC@6..12,200..1000,440..540&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* ...existing code... */

body {
  min-height: 100vh;
  background: linear-gradient(120deg, #011640 #020E26, #052360, #1c0760);
  background-size: 400% 400%;
  animation: gradientBG 18s ease-in-out infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
